.button {
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-background-radius: 0;
	-fx-background-color: transparent;
	-fx-text-fill: rgb(100, 100, 100);
}

.button:hover {
	-fx-text-fill: white;
}

.button:pressed {
	-fx-background-color: black;
	-fx-text-fill: white;
}

#progressSlider .track {
	-fx-background-color: rgb(217, 217, 217);
}