
/* Init Hintergrundfarbe der Slider */
#progressSlider .track { -fx-background-color: rgb(217, 217, 217); }

/* Tabellen-Header */
.table-view .column-header { -fx-background-color: transparent; }
.table-view .column-header-background{
    -fx-background-color: rgb(19, 19, 19);
    -fx-background-radius: 8;
	-fx-padding: 2;
}

/* Tabelle Reihen-Padding */
.table-view .table-cell{
    -fx-padding: 2 0 2 10px;
    -fx-border-width: 4 0 2 0;
}

/* Context-Menu der Choice-Box */
.choice-box .context-menu { -fx-background-color: rgb(19, 19, 19); }
.choice-box > .label { -fx-text-fill: white; }
.choice-box .menu-item:focused { -fx-background-color: rgb(255, 138, 0); }
.choice-box .menu-item > .label { -fx-text-fill: white; }

/* Unsichtbare Scrollbar */
.scroll-bar { -fx-background-color: transparent; }
.table-view .column-header-background .filler { -fx-background-color: transparent; }
